.footer {
  margin-bottom: 30px;
  height: 250px;

  &__list {
    list-style: none;
    padding-left: 0;
    margin: 5px 0;
  }
  &__item {
    line-height: 18px;
    font-size: 14px;
    height: 20px;
  }
  &__link {
    text-decoration: none;
    &:hover {
      color: #f07809;
    }
  }
  &__copyRight {
    text-align: center;
    color: #555;
  }
}
